<h1>Show page for a Creature</h1>

<%# @creature.inspect %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @creature.name %></td>
      <td><%= @creature.description %></td>
    </tr>
  </tbody>
</table>
